.form {
  margin: 0 auto;
  width: $base-width;

  .main-form {
    width: 100%;
  }
}

.input-block {
  margin-bottom: 50px;

  * {
    display: block;
  }
}

.input-small {
  * {
    width: 450px;
  }
}

.input-big {
  * {
    width: $base-width;
  }
}

label {
  margin: 0 0 10px 10px;
}