@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
label {
  font-family: 'Inter', sans-serif;
  color: $color-primary;
}

input {
  padding: 20px;
  border: 1px $color-secondary solid;
  border-radius: 10px;

  &::placeholder {
    color: $color-secondary;
  }
  &:focus {
    outline: 0;
    border-color: rgb(61, 160, 226);
  }
}
