//=====================
// Global variables
//=====================

// Base
$base-width: 950px;
$base-padding: 20px 0;

// Colors
$color-brand: #2a6faf;
$color-primary: #999;
$color-secondary: #e1e1e1;
$color-background: #fff;

// small input, big input